/*header, main, footer {*/
    /*padding-left: 240px;*/
/*}*/

/*@media only screen and (max-width : 992px) {*/
    /*header, main, footer {*/
        /*padding-left: 0;*/
    /*}*/
/*}*/
/*#card1-others{*/
    /*left: -1.9cm;*/
/*}*/
/*#card2-others{*/
    /*left: -4.0cm;*/
/*}*/

/*#card3-others{*/
    /*left: -0.5cm;*/
    /*top: -10cm;*/
/*}*/
body{
    font-family: Roboto;
}

#cities{
    left: 1.69%;
}

#menu{
    max-width: 100%;
    overflow-x: hidden;
}

span{
    vertical-align:middle;
    position: relative;
    bottom: 0.2rem;
}

#icon-fb, #icon-gt{
    bottom: -0.25cm;

}
/*#git{*/
/*float: right;*/
/*}*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/**/
main {
    flex: 1 0 auto;
}

#loader{
    bottom: -5cm;
}


#staggered-test{
    opacity: 0;
}